@import "src/styles/common.module";

.button {
  padding: 8px 30px;
  background: $color-secondary;
  transition: .3s background-color ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  @include Yoyabo-Button-Text();
}
