@import "src/styles/common.module";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 40px;
  background-color: $yoyaba-black;

  > nav {
    ul {
      @include responsive (show_desktop);
      display: flex;
      li {
        margin-left: 20px;
        font-size: 14px;
        color: $yoyaba-white;
      }
    }
  }

  .mobileIcon {
    @include responsive (stop_desktop);
    @include responsive(mobile) {
      display: block;
      width: 35px;
      height: 29px;
    }
  }
}
